#
# lidar.service
#
[Unit]
Description=FRC 1073 Lidar Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/GitHub/nav19/Lidar
ExecStart=/usr/bin/python direct_methods.py lidaroutput

[Install]
WantedBy=multi-user.target

